table {
    margin: 0 auto;
}

h1,
h2 {
    font-size: 1.5rem;
    text-align: center;
}

a {
    text-decoration-line: none;
}

table {
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

caption {
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}