/* 1000pxまで保証 */

body {
    font-family: "游ゴシック体 Pr6N B", YuMincho, serif;
}

/* はみ出しを表示しない。 */
html,
body {
    overflow-x: hidden;
}


/* header以外を固定にする */

main,
footer {
    width: 100%;
    margin: 0 auto;
}

/* aタグすべて統一 */
main a,
footer a {
    text-decoration-line: none;
    color: #FFFFFF;
}

/* フローティングメニュー */
header#FloatingMenu {
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 20;
    padding-top: calc(1000vw/1500);
    border-bottom: 1px solid #000000;
}

/* メニュー位置調整 */
header nav#Menu1,
header nav#Menu2 {
    text-align: right;
}

header nav#Menu1 {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: calc(1000vw/500);
}

header nav#Menu1>a {
    position: absolute;
    text-decoration-line: none;
    color: #000000;
    z-index: 1;
    font-size: calc(1000vw/850);
}

header nav#Menu1>a:nth-of-type(1) {
    right: calc(1000vw/50);
}

header nav#Menu1>a:nth-of-type(2) {
    right: calc(1000vw/78.9);
}

header nav#Menu1>a:nth-of-type(3) {
    right: calc(1000vw/300);
}



header#FloatingMenu>div {
    position: relative;
    top: 15;
    left: 50;
}

header nav#Menu2 {
    position: relative;
    top: -30;
}

header nav#Menu2 a {
    text-decoration-line: none;
    color: #000000;
    margin: 0px 10px;
}

header nav#Menu2>ul>li {
    display: inline;
}

header>div>p {
    padding-left: 25px;
    padding-bottom: 10px;
}

#Menu2>ul>li>a:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid #000000;
}

#Menu1>a:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid #000000;
}

/* ドロップダウンメニュー */

header nav#Menu2 li>div {
    display: none;
    position: fixed;
    /* ← fixedにしてbody基準に */
    top: 160px;
    /* FloatingMenuの高さ分調整（必要に応じて） */
    left: 0;
    width: 100vw;
    height: calc(1000vw/26);
    background-color: white;
    border-bottom: 3px solid #000000;
    z-index: 100;
    text-align: left;
}

header nav#Menu2 li div h1 {
    margin-left: calc(1000vw/50);
}

/* #Menu2-ListX (共通部)*/

#Menu2-List1-div1>ul>li>ul>li>a:hover,
#Menu2-List2-div1>ul>li>ul>li>a:hover,
#Menu2-List3-div1>ul>li>ul>li>a:hover,
#Menu2-List4-div1>ul>li>ul>li>a:hover {
    filter: brightness(0.8);
}

/* 下矢印（共通） */
.dli-caret-down {
    display: inline-block;
    color: #333;
    padding-bottom: 1px;
    border-style: solid;
    border-color: transparent;
    border-width: 0.6em 0.4em;
    border-top-color: currentColor;
    border-bottom: 0;
    margin-left: 5.5px;
}


/* #Menu2-List1 (個人のお客さま)　苦労した...*/

#Menu2-List1 {
    display: flex;
    gap: calc(1000vw/500);
    width: calc(1000vw/10);

}

#Menu2-List1>div:nth-of-type(1) {
    margin-left: calc(1000vw/50);
    width: calc(1000vw/23);
}

#Menu2-List1>div:nth-of-type(2) {
    width: calc(1000vw/35);
}

#Menu2-List1>div>h2 {
    padding-top: calc(1000vw/500);
    padding-bottom: calc(1000vw/750);
    border-bottom: 1px solid #000000;
}

#Menu2-List1-div1 {
    display: flex;
    gap: calc(1000vw / 490);
    flex-wrap: wrap;
    margin-top: 10px;
}

#Menu2-List1-div1>ul {
    list-style: none;
}

#Menu2-List1-div1>ul:nth-of-type(2) {
    margin-left: calc(1000vw / 250);
}

#Menu2-List1-div1>ul>li>ul>li {
    position: relative;
    right: 9px;
    list-style: none;
    margin-top: 5px;
}

#Menu2-List1-div1>ul>li>ul>li:nth-of-type(2) {
    margin-top: 20px;
}

#Menu2-List1-div1>ul>li>ul>li>a {
    display: flex;
    justify-content: space-between;
    /* aタグをブロックにして長さを固定 */
    width: calc(1000vw / 60);
    background-color: #F7F7F7;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
}

/* #Menu2-List2 (法人のお客さま) */

#Menu2-List2>div:nth-of-type(1) {
    margin-left: calc(1000vw/ 50);
    width: calc(1000vw/ 18.75);
}

#Menu2-List2>div>h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

#Menu2-List2-div1>ul>li>ul {
    display: flex;
    flex-wrap: wrap;
    gap: calc(1000vw/1500) calc(1000vw/250);
}

#Menu2-List2-div1>ul>li>ul>li {
    position: relative;
    width: calc(1000vw/55);
    right: 9px;
    list-style: none;
    margin-top: 20px;
}

#Menu2-List2-div1>ul>li>ul>li>a {
    /* flexにすることで矢印を右端に */
    display: flex;
    justify-content: space-between;
    /* aタグをブロックにして長さを固定 */
    background-color: #F7F7F7;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
}

#Menu2-List2-div1>ul {
    list-style: none;
}

/* #Menu2-List3 (オーナーさま) */

#Menu2-List3 {
    display: flex;
    gap: calc(1000vw/500);
    width: 100vw;
}

#Menu2-List3>div:nth-of-type(1) {
    margin-left: calc(1000vw/ 50);
    width: calc(1000vw / 20);
}

#Menu2-List3>div:nth-of-type(2) {
    width: calc(1000vw/ 40);
}

#Menu2-List3>div>h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

#Menu2-List3-div1 {
    display: flex;
    gap: calc(1000vw/375);
    flex-wrap: wrap;
    margin-top: 10px;
}

#Menu2-List3-div1>ul {
    width: calc(1000vw/60);
    list-style: none;
}

#Menu2-List3-div1>ul>li>ul>li {
    position: relative;
    right: 9px;
    list-style: none;
    margin-top: 5px;
}

#Menu2-List3-div1>ul>li>ul>li:nth-of-type(1) {
    margin-top: 20px;
}

#Menu2-List3-div1>ul>li>ul>li {
    margin-bottom: 30px;
}


#Menu2-List3-div1>ul>li>ul>li>a {
    display: flex;
    justify-content: space-between;
    /* aタグをブロックにして長さを固定 */
    width: calc(1000vw/50);
    background-color: #F7F7F7;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
}

/* #Menu2-List4 (企業情報) */

#Menu2-List4 {
    display: flex;
    gap: calc(1000vw/500);
    width: 100vw;
}

#Menu2-List4>div:nth-of-type(1) {
    margin-left: calc(1000vw/50);
    width: calc(1000vw/50);
}

#Menu2-List4>div:nth-of-type(2) {
    width: calc(1000vw/19);
}

#Menu2-List4>div>h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

#Menu2-List4-div1 {
    display: flex;
    gap: calc(1000vw/375);
    flex-wrap: wrap;
    margin-top: 10px;
}

#Menu2-List4-div1>ul {
    list-style: none;
}

#Menu2-List4-div1>ul:nth-of-type(2) {
    margin-left: 100px;
}

#Menu2-List4-div1>ul:nth-of-type(3) {
    position: relative;
    top: -30px;
}

#Menu2-List4-div1>ul>li>ul>li {
    display: inline-block;
    position: relative;
    right: 9px;
    list-style: none;
    margin-top: 5px;
}

#Menu2-List4-div1>ul>li>ul>li>a {
    display: flex;
    justify-content: space-between;
    /* aタグをブロックにして長さを固定 */
    width: calc(1000vw/50);
    background-color: #F7F7F7;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    margin-bottom: 15px;
}

#Menu2-List4-div1-ul1-li1>li:nth-of-type(even) {
    margin-left: 60px;
}

/* ヘッダー調整 */

header nav {
    transition: top .3s;
}

header div a img,
header div p {
    transition: width .3s, height .3s, font-size .3s, margin-left .3s;
}

header nav#Menu2 ul li>div {
    transition: top .3s;
}

header.small div a img {
    width: 50px;
    height: 50px;
    margin-left: 18px;
}

header.small div p {
    font-size: 10px;
}

header.small nav#Menu1 {
    display: none;
}

header.small nav#Menu2 {
    top: -40px;
}

header.small nav#Menu2 ul>li>div {
    top: 100px;
}


/* スライドショー */
main {
    position: relative;
    top: 170;
}

#sliderArea {

    height: calc(1000vw/12);
}

#sliderArea ul img {
    width: 80%;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 0 auto;
    /* margin: 0 50px; */
}

main>p {
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
}

/* Housesの注文住宅 */
main #Section1 {
    display: flex;
    position: relative;
    right: 210px;
}

main #Section1 img {
    width: 1300px;
    height: auto;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: 300px;
    overflow: hidden;
}

main #Section1 img,
main #Section1 p {
    opacity: 0;
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translateY(150px);
}

main #Section1 img.is-active,
main #Section1 p.is-active {
    opacity: 1;
    transform: translateY(0px);
}


main #Section1 div {
    line-height: 75px;
    font-weight: bold;
    margin-top: 330px;
    margin-left: 80px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

main #Section1 div p:nth-of-type(1) {
    color: #7d7d7d;
    font-size: 20px;
}


main #Section1 div p:nth-of-type(2),
main #Section1 div p:nth-of-type(3) {
    font-size: 55px;
}

main #Section2 {
    margin-top: 100px;
}

main #Section2 p {
    text-align: center;
    font-weight: 500;
}

main #Section2 button {
    display: block;
    font-weight: bold;
    border: 1px solid #3B3B41;
    background-color: #3B3B41;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
}

main #Section2 button:hover {
    opacity: 0.8;
}


/* 積水ハウスの住宅展示場へ */

main #Section3 {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
}

main #Section3::before {
    display: block;
    content: "";
    position: absolute;
    top: calc(1000vw/6.7);
    left: 0;
    width: 100vw;
    height: 2000px;
    background-color: #F7F7F7;
    z-index: -1;
}

main #Section3 div:nth-of-type(1) {
    margin: 100px 0px 0px 200px;
    width: 50%;
    height: auto;
}

main #Section3 div:nth-of-type(2) {
    width: 100%;
    height: auto;
}

main #Section3 div:nth-of-type(1) p:nth-of-type(1) {
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
}

main #Section3 div:nth-of-type(1) p:nth-of-type(2) {
    font-weight: bold;
    font-size: 20px;
    line-height: 80px;
}

main #Section3 div:nth-of-type(1) button {
    display: block;
    font-weight: bold;
    border: 1px solid #3B3B41;
    background-color: #3B3B41;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 20px;
    margin: 30px 50px;
    border-radius: 5px;
}

main #Section3 button:hover {
    opacity: 0.8;
}

main #Section3>div {
    overflow: hidden;
}

main #Section3 div img {
    position: relative;
    width: 400px;
    height: auto;
    border-radius: 35px;
    margin-left: 100px;
}

main #Section3 div img:nth-of-type(1) {
    top: 100;
    left: 200;
}

main #Section3 div img:nth-of-type(2) {
    width: 500px;
    top: -50;
    right: 95px;
}

main #Section3 div img:nth-of-type(3) {
    object-fit: cover;
    object-position: top;
    top: -380px;
    left: 465px;
}

/* 更新欄 */
main #Section4 {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

main #Section4 div {
    background-color: #FFFFFF;
    position: relative;
    width: 600px;
    margin: 40px auto;
    padding: 10px 25px 20px 25px;
}

main #Section4 div h1::before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;

    position: relative;
    top: 23;
    left: 10;
}

main #Section4 div:nth-of-type(1) h1:nth-of-type(1)::before {
    background-image: url('../img/icon/icons-calendar.png');
}

main #Section4 div:nth-of-type(2) h1:nth-of-type(1)::before {
    background-image: url('../img/icon/icons-landarea.png');
}

main #Section4 div:nth-of-type(3) h1:nth-of-type(1)::before {
    background-image: url('../img/icon/icons-party.png');
}

main #Section4 div:nth-of-type(4) h1:nth-of-type(1)::before {
    background-image: url('../img/icon/icons-chair.png');
}

main #Section4 div h1 {
    padding-bottom: 10px;
}

main #Section4 div p:nth-of-type(2) {
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;
}

/* 矢印 */
main #Section4 div a::after {
    content: "";
    display: inline-block;
    background-image: url('../img/icon/icons-arrow.png');
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-color: #FFFFFF;

    position: relative;
    top: 2;
    left: 10;
}


main div#PickupText1 p {
    margin: 50px 400px;
    text-align: left;
    font-size: calc(1000vw/750);
}

/* 建売住宅・分譲地 */

main #Section5 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

main #Section5 div {
    margin: 0 auto;
    width: 350px;
}

main #Section5 div img {
    border-radius: 8px;
}

main #Section5 div h3 {
    margin-top: 20px;
}

main #Section5 div p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 30px;
}


main #Section5 button {
    display: block;
    font-weight: bold;
    border: 1px solid #3B3B41;
    background-color: #3B3B41;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;

}

/* オーナーさま向けサービス */

main #Section6 {
    width: 1400px;
    height: 310px;
    background-color: #f7f7f7;
    margin: 40px auto;
    padding: 40px;
}

main #Section6 h1 {
    margin-bottom: 20;
}

main #Section6 img {
    float: right;
    margin: 0px 60px 0px 0px;
    border-radius: 10px;
}

main #Section6 div {
    margin-top: 30px;
}

main #Section6 div a {
    display: block;
    color: #000000;
    margin-top: 5px;
    font-weight: bold;
}

main #Section6 div a:hover {
    opacity: 0.8;
}

main #Section6 div a::after {
    background-image: url('../img/icon/icons-external-link.png');

    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;

    position: relative;
    top: 15;
    left: 10;
}

main #Section1.class3 img,
main #Section1.class3 div {
    margin-top: 100px;
}

main #Section7 {
    position: relative;
    margin-top: -740px;
}

/* カールセルスライダー */
main #Section7::before {
    display: block;
    content: "";
    position: absolute;
    top: -430px;
    left: 0;
    width: 100vw;
    height: 830px;
    background-color: #f7f7f7;
    z-index: -1;
}

main #Section7 #slide-items {
    margin-top: 900px;
}

main #Section7 #slide-items .regular li {
    /* width: 300px; */
    width: calc(1000vw/50);
    height: 500px;
    border-radius: 10px;
    margin: 15px;
}

main #Section7 #slide-items .regular li>img {
    width: calc(1000vw/50);
    height: auto;
    border-radius: 10px;
}



main #Section7 #slide-items .regular li p:nth-of-type(1) {
    padding: 20px 0;
}

main #Section7 #slide-items .regular li p:nth-of-type(2)::after {
    content: "";
    display: inline-block;
    background-image: url('../img/icon/icons-arrow.png');
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-color: #FFFFFF;

    position: relative;
    top: 2;
    left: 20;
}


#newNotice {
    width: 100%;
}

#newNotice>h1 {
    text-align: center;
}


/* スムストックEXPO住宅博 */

main #Section8 div {
    width: 300px;
    height: 380px;
    margin: 30px auto 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    /* margin-left: calc(1000vw/75); */

}

main #Section8 div h3 {
    margin: 0 auto;
    font-size: 1em;
    padding-bottom: 10px;
}

main #Section8 div p:nth-last-of-type(1) {
    font-size: 0.9em;
    font-weight: bold;
    margin: 10px 0 0 150px;
}

main #Section8 div h2 {
    margin: 0 auto;
    font-size: 1.3em;
    padding: 0 0;
}


main #Section8 div p {
    font-size: 0.8em;
    padding: 10 0;
}


main #Section8 div img {
    display: block;
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

main #Section9 {
    margin: 50px 0;
}

main #Section9 div {
    margin: 0 auto;
    width: 1000px;
}

main #Section9 div div:hover {
    opacity: 0.7;
}

main #Section9 div h1 {
    margin: 30px 0 30px 0;
    font-weight: bold;
}

main #Section9 div div {
    border-top: 1px solid #dddada;
}

main #Section9 div div p {
    display: inline-block;
    margin: 20px;
}

main #Section9 div div a {
    margin-left: 10px;
}

main #Section9 div div a>p {
    background-color: #F7F7F7;
    padding: 5px;
}

main #Section9 div div:nth-last-child(1) {
    border-bottom: 1px solid #dddada;
}

main #Section9 div button {
    font-weight: bold;
    border: 1px solid #3B3B41;
    background-color: #3B3B41;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
}

main #Section9 button:hover {
    opacity: 0.8;
}

/* footer */
footer {
    margin: 0 auto;
}

footer>div {
    margin: 300px auto 0 auto;
    background-color: #3B3B41;
    padding: 100px 100px 0px calc(1000vw/60);
}

footer>div>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

footer div div img {
    filter: brightness(10);
}

footer>div>div>p {
    color: #FFFFFF;
    margin-left: 21px;
}

footer div div:nth-of-type(1) {
    float: left;
}

footer div div:nth-of-type(2) {
    margin: 30px 0px 0px 0px;
}

footer div div:nth-of-type(2) p:nth-of-type(1) {
    margin-left: 350px;
}

footer div div:nth-last-child(1) a {
    color: #FFFFFF;
}

footer div div a:hover,
footer div div button:hover {
    opacity: 0.8;
}

/* Footer-div1(グループ会社＋) */
/* Footer-div2(関連サービス・サイト一覧＋) */

#Footer-div1>button>p,
#Footer-div2>button>p {
    color: #FFFFFF;
}

#Footer-div1>button>p {
    width: 120px;
    margin-left: 345px;
}

#Footer-div2>button>p {
    width: 230px;
    margin-left: 340px;
}


#Footer-div1>ul,
#Footer-div2>ul {
    display: none;
    margin-left: 350px;
    list-style: none;
}

#Footer-div1>ul.active,
#Footer-div2>ul.active {
    display: block;
}

#Footer-div1>ul>li,
#Footer-div2>ul>li {
    margin-top: 10px;
}

/* Footer-div3 */
#Footer-div3 {
    display: flex;
    margin-top: 100px;
    margin-left: -104px;
    padding-bottom: 50px;
    width: 1000px;
}

#Footer-div3>p {
    padding-left: 100px;
}

/* トグルメニュー(非表示) */
header>section {
    display: none;
}

@media screen and (max-width:1000px) {


    /* フローティングメニュー（非表示） */
    #FloatingMenu>nav,
    #Menu1>a {
        display: none;
    }

    header.small div a img {
        margin-left: 18px;
        margin-top: 20px;
    }

    /* サイズ調整 */
    header#FloatingMenu>div {
        top: 0;
        left: 15;
    }

    #FloatingMenu {
        position: fixed;
    }


    /* トグルメニュー（表示） */
    header>section {
        display: block;
    }

    #toggle-btn {
        display: block;
        position: absolute;
        z-index: 20;
        top: 35px;
        width: 30px;
        height: 30px;
        left: 85vw;
        cursor: pointer;
    }

    #toggle-btn span {
        display: block;
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: #333;
        border-radius: 2px;
        left: 0;
        transition: .5s;
    }

    #toggle-btn span:nth-of-type(1) {
        top: 0px;
        transition: .0s;
    }

    #toggle-btn span:nth-of-type(2) {
        top: 10px;
        transition: .0s;
    }

    #toggle-btn span:nth-of-type(3) {
        top: 20px;
        transition: .0s;
    }

    /* 閉じるボタンを生成✖ */
    #toggle-btn span.open:nth-of-type(1) {
        transform: translateY(10px) rotate(315deg);
        transition: .0s;
    }

    #toggle-btn span.open:nth-of-type(2) {
        display: none;
    }

    #toggle-btn span.open:nth-of-type(3) {
        transform: translateY(-10px) rotate(-315deg);
        transition: .0s;
    }


    /* トグルメニュー*/
    #global-nav.open {
        position: fixed;
        padding: 0px;
        background: #FFFFFF;
        color: #000000;
        width: 100%;
        height: 100%;
        margin-top: -3px;
        visibility: 1;
        /* 中でスクロールできるようにする。 */
        overflow-y: auto;
    }

    #global-nav-ul {
        display: none;


    }

    #global-nav-ul.open {
        display: flex;
        flex-direction: column;

    }

    #global-nav-ul>li,
    #header-div3-button,
    #header-div4-button,
    #header-div5-button {
        list-style: none;
        border-bottom: 1px solid #c7c3c3;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    #global-nav-ul>li {
        position: relative;
    }

    #global-nav-ul>li>a {
        display: block;
        font-weight: bold;
    }

    #global-nav-ul>li>a::after {
        content: "";
        display: inline-block;
        background-image: url('../img/icon/icons-arrow.png');
        width: 1em;
        height: 1em;
        filter: invert(100%);
        background-color: #FFFFFF;

        position: absolute;
        top: 20;
        right: calc(4%);
    }

    #header-div1-button,
    #header-div2-button,
    #header-div3-button,
    #header-div4-button,
    #header-div5-button {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 20px;
        padding-left: 10px;
    }

    #header-div1-button.open,
    #header-div2-button.open,
    #header-div3-button.open,
    #header-div4-button.open,
    #header-div5-button.open {
        background: #727171;
        color: #FFFFFF;
        transition: background .2s, color .2s;
    }

    #header-div1-button>p,
    #header-div2-button>p,
    #header-div3-button>p,
    #header-div4-button>p,
    #header-div5-button>p {
        font-size: 1.2rem;
        text-align: left;
    }

    #header-div1-button>p,
    #header-div2-button>p,
    #header-div3-button>p,
    #header-div4-button>p,
    #header-div5-button>p {
        font-size: 1.2rem;
    }

    #header-div1-button>p>span,
    #header-div2-button>p>span,
    #header-div3-button>p>span,
    #header-div4-button>p>span,
    #header-div5-button>p>span {
        float: right;
        margin-right: 40px;
    }

    #global-nav-ul li a {
        text-decoration: none;
        color: #000000;
    }

    #header-div1-ul,
    #header-div2-ul,
    #header-div3-ul,
    #header-div4-ul,
    #header-div5-ul {
        display: none;
        text-decoration: none;
    }

    #header-div1-ul p,
    #header-div2-ul p,
    #header-div3-ul p,
    #header-div4-ul p,
    #header-div5-ul p {
        font-size: 1rem;
        margin-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        background: #d8d4d4;
    }

    #header-div1-ul>li,
    #header-div2-ul>li,
    #header-div3-ul>li,
    #header-div4-ul>li,
    #header-div5-ul>li {
        list-style: none;
        margin-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        border-bottom: 1px solid #ddd8d8;
        background: #F7F7F7;
    }

    #header-div1-ul>li>a,
    #header-div2-ul>li>a,
    #header-div3-ul>li>a,
    #header-div4-ul>li>a,
    #header-div5-ul>li>a {
        display: block;
    }

    /* 家・住まいをご検討の方、不動産活用をご検討の方以外を調整 */
    #global-nav-ul>div:nth-of-type(3),
    #global-nav-ul>div:nth-of-type(4),
    #global-nav-ul>div:nth-of-type(5) {
        margin-left: -20px;
    }

    /* ボタンの位置調整 */
    #header-div3-button,
    #header-div4-button,
    #header-div5-button {
        padding-left: 20px;
    }


    /* スクロール 不可*/
    html.no_scroll {
        overflow: hidden;
        height: 100%;
    }



    main #Section5 {
        display: flex;
        margin: 0 auto 0 auto;
        width: 340px;
        flex-direction: column;
    }

    main #Section5 div {
        margin: 0 auto;
        width: calc(1000vw/20);
        margin-bottom: 50px;
    }

    main #Section5 div img {
        margin: 0 auto;
        width: calc(1000vw/20);
    }

}

@media screen and (max-width:767px) {

    main {
        margin: 0 auto;
        width: 100vw;
    }



    /* スライドショー */
    #sliderArea {
        width: 100vw;
        height: calc(1000vw/12);
    }

    #sliderArea ul img {
        width: calc(1000vw/11.1);
        margin: 0 auto;
    }

    main>p {
        font-size: calc(1000vw/383.5);
    }

    /* Housesの注文住宅～ */
    main #Section1 {
        right: 0px;
    }

    main #Section1 img {
        height: auto;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 300px;
        overflow: hidden;
    }

    main #Section1 div {
        line-height: 40px;
        margin-top: 310px;
        margin-left: 20px;
        margin-right: 5%;
    }

    main #Section1 div p:nth-of-type(1) {
        font-size: 15px;
    }

    main #Section1 div p:nth-of-type(2),
    main #Section1 div p:nth-of-type(3) {
        font-size: 30px;
    }


    main #Section2 p {
        margin: 0 auto;
        text-align: center;
        font-weight: 500;
        width: 75vw;
        font-size: larger;
    }

    /* 積水ハウスの住宅展示場へ */

    /* 画像 */
    main #Section3 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 auto;
    }

    #Section3>div:nth-child(1) {
        order: 2;
    }

    #Section3>div:nth-child(2) {
        order: 1;
    }

    main #Section3::before {
        top: 850px;
        height: 3000px;
    }


    main #Section3 div:nth-of-type(1) {
        margin: 0px 50px;
        width: 100%;
        height: auto;
        margin-top: calc(-1000vw / 17);
    }

    main #Section3 div:nth-of-type(1) p:nth-of-type(1) {
        font-size: 25px;
        line-height: 60px;
    }

    main #Section3 div:nth-of-type(1) p:nth-of-type(2) {
        font-size: calc(17px + ((100vw - 375px) * ((20 - 17) / (767 - 375))));
        line-height: 40px;
        margin-bottom: 20px;
    }

    main #Section3 div:nth-of-type(1) p:nth-of-type(3) br {
        display: none;
    }


    main #Section3 div:nth-of-type(1) p:nth-of-type(3) {
        width: 80%;
    }


    main #Section3 div:nth-of-type(1) button {
        margin: 0 auto;
        padding: 20px;
        margin: 25px calc(((100vw - 375px) * (220 / (767 - 375))));
        border-radius: 5px;
    }

    main #Section3 div img {
        position: relative;
        width: 100vw;
        height: auto;
        border-radius: 35px;

        overflow: hidden;
        margin: 0 auto;
        margin-top: 100px;

    }

    main #Section3 div img:nth-of-type(1) {
        width: calc(1000vw/19);
        top: calc(1000vw/150);
        left: calc(1000vw/45);
    }

    main #Section3 div img:nth-of-type(2) {
        width: calc(1000vw/19);
        top: calc(1000vw/-50);
        right: calc(1000vw/157);
    }

    main #Section3 div img:nth-of-type(3) {

        width: calc(1000vw/19);
        top: calc(1000vw/ -14);
        left: calc(1000vw/20);

    }

    /* 更新欄 */
    main #Section4 {
        width: calc(1000vw/12);
    }


    /* 矢印 */
    main #Section4 div a::after {
        left: 30;
    }

    main div#PickupText1 p {
        margin: 60px;
        text-align: center;
        font-size: larger;

        br {
            display: none;
        }
    }

    main #Section6 {
        width: 100%;
        height: 570px;
        background-color: #f7f7f7;
        margin: 0px auto;
    }

    main #Section6 img {
        float: none;
        display: block;
        margin: 0px auto;
    }

    /* カールセルスライダー */

    main #Section7 #slide-items .regular li {
        width: calc(1000vw/28);
    }

    main #Section7 #slide-items .regular li>img {
        width: calc(1000vw/28);
    }



    main #Section7 #slide-items .regular li p:nth-of-type(1) {
        padding: 20px 0;
    }

    main #Section7 #slide-items .regular li p:nth-of-type(2)::after {
        content: "";
        display: inline-block;
        background-image: url('../img/icon/icons-arrow.png');
        width: 1em;
        height: 1em;
        filter: invert(100%);
        background-color: #FFFFFF;

        position: relative;
        top: 2;
        left: 20;
    }

    main #Section9 div {
        width: calc(1000vw/12);
    }

    main #Section9 div div:hover {
        opacity: 0.7;
    }

    main #Section9 div h1 {
        margin: 0 calc(1000/50);
        text-align: left;
        font-weight: bold;
    }

    main #Section9 div div {
        border-top: 1px solid #dddada;
    }

    main #Section9 div div p {
        display: inline-block;
        margin: 20px;
    }

    main #Section9 div div a {
        margin-left: 10px;
    }

    main #Section9 div div a>p {
        background-color: #F7F7F7;
        padding: 5px;
    }

    main #Section9 div div:nth-last-child(1) {
        border-bottom: 1px solid #dddada;
    }

    main #Section9 div button {
        font-weight: bold;
        border: 1px solid #3B3B41;
        background-color: #3B3B41;
        color: #FFFFFF;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    main #Section9 button:hover {
        opacity: 0.8;
    }

    /* footer */
    /* footer {
        margin: 0 auto;
    }

    footer>div {
        margin: 300px auto 0 auto;
        background-color: #3B3B41;
        padding: 100px 100px 0px calc(1000vw/60);
    }

    footer>div>div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
    }

    footer div div img {
        filter: brightness(10);
    }

    footer>div>div>p {
        color: #FFFFFF;
        margin-left: 21px;
    }

    */

    footer div div:nth-of-type(1) {
        float: none;
    }

    footer div div:nth-of-type(1) img {
        display: block;
        margin: 0 auto;
        /* margin-left: calc(1000vw/43.5); */

    }

    /* Houses調整 */
    footer div div:nth-of-type(1) p {
        text-align: center;
    }





    /* Footer-div1(グループ会社＋) */
    /* Footer-div2(関連サービス・サイト一覧＋) */

    /* 中央寄せのための調整 */
    /* footer>div>div>p, */
    #Footer-div1>button>p,
    #Footer-div2>button>p,
    footer>div>div>p {
        margin: 0;
    }

    #Footer-div1>button>p,
    #Footer-div2>button>p {
        width: 250px;
    }


    footer div>div,
    footer div div:nth-of-type(2) {
        margin: 20px auto 0px auto;
        padding: 0;
    }



    /* +　内の微調整 */
    #Footer-div1>ul {
        margin: 0 auto;
        position: relative;
        left: 95px;
    }

    #Footer-div2>ul {
        margin: 0 auto;
        position: relative;
        left: 140px;
    }

    #Footer-div1-button2 {
        padding-left: 90px;
    }

    #Footer-div1>ul.active,
    #Footer-div2>ul.active {
        display: block;
    }



    /* Footer-div3 */
    #Footer-div3 {
        display: flex;
        margin: 50px auto 0 auto;
        width: 300;
        flex-direction: column;

    }

    #Footer-div3>p {
        text-align: center;
        padding-left: 0px;
        padding-top: 40px;
    }

}

@media (max-width: 550px) {

    main #Section1 img {
        width: 300px;
        height: 100%;
    }

    /* ニュースリリース */
    main #Section9 div {
        width: 300px;
        margin-bottom: 20px;
    }

    main #Section9 div div span {
        margin-left: 10px;
    }

    main #Section9 div div:nth-last-child(1) {
        padding-bottom: 20px;
    }

    main #Section4 div {
        width: 300px;
        margin: 40px auto;
    }

    main #Section4 div h1 {
        font-size: 1.2em;
    }

    main #Section4 div h1::before {
        top: 18;
        left: 0;
    }

}

@media (max-width: 450px) {

    #Footer-div1-button2 {
        padding-left: 40px;
    }

    #Footer-div2>ul {
        margin: 0 auto;
        position: relative;
        left: 100px;
    }

}